## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
numeroEntero = 33
print(numeroEntero)

33

2) Imprimir el tipo de dato de la variable 8.5

In [2]:
variable= 8.5
print(type(variable))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(numeroEntero))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
nombre ="Luis, Espinoza"
print(nombre)

Luis, Espinoza

5) Crear una constante que contenga el número Pi

In [10]:
PI = 3.14

print(PI)

3.14

6) Mostrar el tipo de dato de la variable creada en el punto 5

In [ ]:
print(type(PI))

<class 'float'>

7) Crear una variable que contenga el valor del número **e** (número de euler) redondeado a 4 decimales

In [8]:
euler = 2.7182818284590452353602874713527
euler = round(euler,4)
print(euler)

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [1]:
var_1 = 'True'
var_2 = True

print(type(var_1) == type(var_2))

<class 'str'>
<class 'bool'>
False

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [2]:
print(type(var_1))
print(type(var_2))

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro flotante

In [5]:
var_3 = (4 + 3.8)
print(var_3)

7.8

11) Realizar una operación de suma de un número definido como string con un entero

In [6]:
numero_str = "10"
numero_entero = 5

resultado = int(numero_str) + numero_entero
print("El resultado de la suma es:", resultado)

El resultado de la suma es: 15

12) Crear una variable que contenga el valor del punto 7 elevado al cubo (potencia de 3)

In [10]:
contenedor = euler ** 3
print(contenedor)

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [2]:
numero1 = input("ingrese su primer valor")
numero2 = input("ingrese el segundo valor")
numero1 = int(numero1)
numero2 = int(numero2)
resultado = numero1 * numero2
print("El resultado de multiplicar", numero1, "x", numero2, "=", resultado)

El resultado de multiplicar 25 x 2 = 50

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [9]:
cociente = 27/4
print (cociente)

6.75

15) De la división anterior solamente mostrar la parte entera

In [15]:
print ("usando // para la primera solucion, la parte entera quedaria asi=> ",cociente //1)
cociente = int(cociente)
print( "usando un casteador a entero como 'int', la parte entera quedaria asi=> ", int(cociente))

usando // para la primera solucion, la parte entera quedaria asi=>  6.0
usando un casteador a entero como 'int', la parte entera quedaria asi=>  6

16) De la división de 27 entre 4 mostrar solamente el resto

In [13]:
resto = 27%4
print("Para obtener el resto de una divicion se utiliza el % \nejemplo 27%4 es =>",resto)

Para obtener el resto de una divicion se utiliza el %
ejemplo 27%4 es => 3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 15 y 16, obtener 27 como resultado

In [18]:
print(4 * cociente+resto )

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [23]:
ejercicio18 = "2"
if (ejercicio18 == 2):
    print("son iguales ")
else:
    print("no son iguales o no es el mismo tipo de dato\nya que la variable es del tipo ", type(ejercicio18))

no son iguales o no es el mismo tipo de dato
ya que la variable es del tipo  <class 'str'>

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 18 resulte verdadera

In [26]:
ejercicio19 = int(ejercicio18)
print(ejercicio19)
print ("La variable paso a ser del tipo =>",type(ejercicio19))

2
La variable paso a ser del tipo => <class 'int'>

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [30]:
print("el problema que tiene la variable del ejercicio es que para marcar la parte decimal\nde un numero se hace mediante el punto y no con la coma ")

el problema que tiene la variable del ejercicio es que para marcar la parte decimal
de un numero se hace mediante el punto y no con la coma

21) Realizar la operación 10 + '10' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
print("No esta permitido porque 'NO' son el mismo tipo de datos\nsi los dos valores son String solo se concatenara")

No esta permitido porque 'NO' son el mismo tipo de datos
si los dos valores son String solo se concatenara

22) Crear una variable que contenga un menú con los elementos MENU: 1 - Pizza, 2 - Empanadas, 3 - Milanesas, 4 - Salir, y luego mostrarlo por pantalla

In [35]:
menu="""
MENU
1) Pizza
2) Empanadas
3) Milanesa
4) Salir
"""
print(menu)

MENU
1) Pizza
2) Empanadas
3) Milanesa
4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [36]:
ejercicio23 = [1,2,3,4,5,6,7,8,9,10]
print(ejercicio23)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [37]:
print(ejercicio23[-2])

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [38]:
ejercicio23[2]= "Luis"
print(ejercicio23)

[1, 2, 'Luis', 4, 5, 6, 7, 8, 9, 10]

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [48]:
ejercicio26=[["A","B","C"],["D","E","F"],["G","H","I"]]
print(ejercicio26)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

27) Imprimir la matriz creada en el punto 26

In [49]:
print(ejercicio26)

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [50]:
ejercicio26[1][1]="Z"
print(ejercicio26)

[['A', 'B', 'C'], ['D', 'Z', 'F'], ['G', 'H', 'I']]

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [51]:
ejercicio26[0]=[1,2,3]
print(ejercicio26)

[[1, 2, 3], ['D', 'Z', 'F'], ['G', 'H', 'I']]

30) Crear una tupla que contenga 5 marcas de ropa

In [57]:
ejercicio30=("adidas","nike","puma", "fiume","lacoste")
print(ejercicio30)
print(ejercicio30[1])

('adidas', 'nike', 'puma', 'fiume', 'lacoste')
nike

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [58]:
print (ejercicio30[0])

adidas

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [63]:
print(ejercicio30[1])
#ejercicio30[1]= "pantalon"
#print(ejercicio30[1])
print("el motivo por lo que no se puede modificar un arreglo del tipo Tupla es el siguiente:\nTypeError:'tuple' object does not support item assignment")

nike
el motivo por lo que no se puede modificar un arreglo del tipo Tupla es el siguiente:
TypeError:'tuple' object does not support item assignment

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [64]:
ejercicio33 ={"nombre":"luis", "apellido": "Espinoza", "edad": 42, "hobbies":["Codear", "esudiar", "leer"]}
print (ejercicio33)

{'nombre': 'luis', 'apellido': 'Espinoza', 'edad': 42, 'hobbies': ['Codear', 'esudiar', 'leer']}

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [66]:
print(ejercicio33["hobbies"])
print(ejercicio33.get("hobbies"))

['Codear', 'esudiar', 'leer']
['Codear', 'esudiar', 'leer']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [68]:
print(ejercicio33.get("edad"))
ejercicio33["edad"]= 123
print(ejercicio33.get("edad"))

42
123